%h2 New proposal

= semantic_form_for @proposal do |form|
  = form.inputs do
    = form.input :subject
    = form.input :wording

  = form.buttons do
    = form.commit_button :button_html => {:id => 'proposal_submit'}
    %li.cancel
      or
      = link_to 'cancel', proposals_path