%h2 Your vote

= semantic_form_for [@proposal, @vote] do |form|
  = form.inputs :for => @proposal do |f|
    .subject #{@proposal.subject}
    .wording #{@proposal.wording}

  = form.buttons do
    = form.commit_button :button_html => { :id => "yes", :value=>"yes" }


