%h2 Your vote

= semantic_form_for [@proposal, @vote] do |form|
  %ol
    %li.subject= @proposal.subject
    %li.wording= @proposal.wording

  = form.buttons do
    = form.commit_button "yes", :button_html => { :id => "yes" }


