= render @proposal

%h4 Your vote
= semantic_form_for [@proposal, @vote] do |form|
  = form.buttons do
    - @proposal.choices.each do |choice|
      = form.commit_button choice.to_s, :button_html => { :id => choice.to_s, :name => "vote[value]" }

#breakdown
  %h4 Current results
  = render "votes/breakdown"

%h4 Casting of votes

#chart
= visualize_results("#chart", @proposal)